.App {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 'handler1 handler2';
}
.handler1 {
  grid-area: handler1;
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 'labelHandler labelHandler'
  'buttonSetHandler buttonSetHandler';
}
.handler2 {
  grid-area: handler2;
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 'counter counter'
  'button1Handler button2Handler';
}
.Counter {
  grid-area: counter;
  text-align: center;
  font-size: 50px;
  color: #c4b5ff;
  border: 5px solid #186081;
  padding-top: 100px;
}
.labelHandler {
  grid-area: labelHandler;
  text-align: center;
  font-size: 50px;
  color: #c4b5ff;
  border: 5px solid #186081;
  padding-top: 100px;
}

.Button1Handler {
  grid-area: button1Handler;
  text-align: center;
  font-size: 18px;
  color: #6b13ff;
  border: 5px solid #186081;
  padding-top: 20%;
}

.ButtonSetHandler {
  grid-area: buttonSetHandler;
  text-align: center;
  font-size: 18px;
  color: #6b13ff;
  border: 5px solid #186081;
  padding-top: 20%;
}

.Button2Handler {
  grid-area: button2Handler;
  text-align: center;
  font-size: 18px;
  color: #6b13ff;
  border: 5px solid #186081;
  padding-top: 20%;
}

.RedCounter {
  grid-area: counter;
  text-align: center;
  font-size: 50px;
  color: #ff1500;
  border: 5px solid #810c00;
  padding-top: 100px;
}

.btn {
  font-family: Impact, fantasy;
  font-size: 20px;
  background-color: #282c34;
  border: 2px solid #186081;
  transition-duration: 0.4s;
  color: rgb(24,96,129);
}

.btn:hover {
  background-color: #186081;
  color: white;
}

.Label1 input {
margin: 10px;
  text-align: center;
  font-size: 40px;
}

.RedLabel1 input {
  margin: 10px;
  text-align: center;
  font-size: 40px;
  border: 5px solid #810c00;
  background-color: #c4b5ff;
}
.Label2 input {
margin: 10px;
  text-align: center;
  font-size: 40px;
}

.RedLabel2 input {
  margin: 10px;
  text-align: center;
  font-size: 40px;
  border: 5px solid #810c00;
  background-color: #c4b5ff;
}